#s-10ae9f0c-0539-495a-8b99-acf895538c72 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-10ae9f0c-0539-495a-8b99-acf895538c72 #s-Top_bar_320 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-10ae9f0c-0539-495a-8b99-acf895538c72 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-10ae9f0c-0539-495a-8b99-acf895538c72 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-10ae9f0c-0539-495a-8b99-acf895538c72 #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-10ae9f0c-0539-495a-8b99-acf895538c72 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}