#s-5fa88908-9eec-454f-a899-14fca80f6533 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5fa88908-9eec-454f-a899-14fca80f6533 #s-Top_bar_320 {
  -ms-transform: rotate(0.0deg);
}
#s-5fa88908-9eec-454f-a899-14fca80f6533 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5fa88908-9eec-454f-a899-14fca80f6533 #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5fa88908-9eec-454f-a899-14fca80f6533 #s-Button_1 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #C6C5C6;
  -ms-transform: rotate(0.0deg);
}
#s-5fa88908-9eec-454f-a899-14fca80f6533 #s-Button_2 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #C6C5C6;
  -ms-transform: rotate(0.0deg);
}
#s-5fa88908-9eec-454f-a899-14fca80f6533 #s-Button_3 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #C6C5C6;
  -ms-transform: rotate(0.0deg);
}
#s-5fa88908-9eec-454f-a899-14fca80f6533 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}