#s-65094e03-e8bc-4b75-ab4b-c6a78317c79e #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-65094e03-e8bc-4b75-ab4b-c6a78317c79e #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-65094e03-e8bc-4b75-ab4b-c6a78317c79e #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-65094e03-e8bc-4b75-ab4b-c6a78317c79e #s-Top_bar_320 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-65094e03-e8bc-4b75-ab4b-c6a78317c79e #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-65094e03-e8bc-4b75-ab4b-c6a78317c79e #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-65094e03-e8bc-4b75-ab4b-c6a78317c79e #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-65094e03-e8bc-4b75-ab4b-c6a78317c79e #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-65094e03-e8bc-4b75-ab4b-c6a78317c79e #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-65094e03-e8bc-4b75-ab4b-c6a78317c79e #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-65094e03-e8bc-4b75-ab4b-c6a78317c79e #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-65094e03-e8bc-4b75-ab4b-c6a78317c79e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}