#s-65094e03-e8bc-4b75-ab4b-c6a78317c79e {
  background-color: transparent;
  background-image: none;
  min-width: 321px;
  min-height: 480px;
}
#s-65094e03-e8bc-4b75-ab4b-c6a78317c79e > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-65094e03-e8bc-4b75-ab4b-c6a78317c79e #s-Rectangle_1 {
  position: absolute;
  top: -8px;
  left: 0px;
  width: 321px;
  height: 488px;
  background-color: #F2F2F2;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8pt;
  font-family: Arial;
}
#s-65094e03-e8bc-4b75-ab4b-c6a78317c79e #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-65094e03-e8bc-4b75-ab4b-c6a78317c79e #s-Rectangle_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: 400;
}
#s-65094e03-e8bc-4b75-ab4b-c6a78317c79e #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-65094e03-e8bc-4b75-ab4b-c6a78317c79e #s-Image_1 {
  position: absolute;
  top: 24px;
  left: 0px;
  width: 321px;
  height: 53px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-65094e03-e8bc-4b75-ab4b-c6a78317c79e #s-Label_1 {
  position: absolute;
  top: 30px;
  left: 4px;
  width: 139px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 700;
  line-height: 14pt;
}
#s-65094e03-e8bc-4b75-ab4b-c6a78317c79e #s-Label_1 .valign {
  vertical-align: middle;
}
#s-65094e03-e8bc-4b75-ab4b-c6a78317c79e #s-Top_bar_320 {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 320px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-65094e03-e8bc-4b75-ab4b-c6a78317c79e #s-Rectangle_2 {
  position: absolute;
  top: 100px;
  left: 29px;
  width: 257px;
  height: 350px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Arial;
}
#s-65094e03-e8bc-4b75-ab4b-c6a78317c79e #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-65094e03-e8bc-4b75-ab4b-c6a78317c79e #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#s-65094e03-e8bc-4b75-ab4b-c6a78317c79e #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-65094e03-e8bc-4b75-ab4b-c6a78317c79e #s-Label_2 {
  position: absolute;
  top: 106px;
  left: 37px;
  width: 139px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto Black;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-65094e03-e8bc-4b75-ab4b-c6a78317c79e #s-Label_2 .valign {
  vertical-align: middle;
}
#s-65094e03-e8bc-4b75-ab4b-c6a78317c79e #s-Label_3 {
  position: absolute;
  top: 137px;
  left: 55px;
  width: 211px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-65094e03-e8bc-4b75-ab4b-c6a78317c79e #s-Label_3 .valign {
  vertical-align: middle;
}
#s-65094e03-e8bc-4b75-ab4b-c6a78317c79e #s-Label_4 {
  position: absolute;
  top: 207px;
  left: 37px;
  width: 111px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto Black;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-65094e03-e8bc-4b75-ab4b-c6a78317c79e #s-Label_4 .valign {
  vertical-align: middle;
}
#s-65094e03-e8bc-4b75-ab4b-c6a78317c79e #s-Label_5 {
  position: absolute;
  top: 256px;
  left: 124px;
  width: 52px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-65094e03-e8bc-4b75-ab4b-c6a78317c79e #s-Label_5 .valign {
  vertical-align: middle;
}
#s-65094e03-e8bc-4b75-ab4b-c6a78317c79e #s-Ellipse_1 .content {
  left: 0px;
  top: 0px;
  width: 44px;
  height: 43px;
  position: absolute;
}
#s-65094e03-e8bc-4b75-ab4b-c6a78317c79e #s-Ellipse_1 {
  position: absolute;
  top: 397px;
  left: 37px;
  width: 44px;
  height: 43px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Arial;
}
#s-65094e03-e8bc-4b75-ab4b-c6a78317c79e #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-65094e03-e8bc-4b75-ab4b-c6a78317c79e #shapewrapper-s-Ellipse_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#s-65094e03-e8bc-4b75-ab4b-c6a78317c79e #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-65094e03-e8bc-4b75-ab4b-c6a78317c79e #s-Image_2 {
  position: absolute;
  top: 402px;
  left: 43px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-65094e03-e8bc-4b75-ab4b-c6a78317c79e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}