#s-65094e03-e8bc-4b75-ab4b-c6a78317c79e #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-65094e03-e8bc-4b75-ab4b-c6a78317c79e #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-65094e03-e8bc-4b75-ab4b-c6a78317c79e #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-65094e03-e8bc-4b75-ab4b-c6a78317c79e #s-Top_bar_320 {
  -ms-transform: rotate(0.0deg);
}
#s-65094e03-e8bc-4b75-ab4b-c6a78317c79e #s-Rectangle_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-65094e03-e8bc-4b75-ab4b-c6a78317c79e #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-65094e03-e8bc-4b75-ab4b-c6a78317c79e #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-65094e03-e8bc-4b75-ab4b-c6a78317c79e #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-65094e03-e8bc-4b75-ab4b-c6a78317c79e #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-65094e03-e8bc-4b75-ab4b-c6a78317c79e #s-Ellipse_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-65094e03-e8bc-4b75-ab4b-c6a78317c79e #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-65094e03-e8bc-4b75-ab4b-c6a78317c79e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}