#s-69d8ca7c-de81-4f33-ba63-66765d257457 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69d8ca7c-de81-4f33-ba63-66765d257457 #s-Top_bar_320 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69d8ca7c-de81-4f33-ba63-66765d257457 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69d8ca7c-de81-4f33-ba63-66765d257457 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69d8ca7c-de81-4f33-ba63-66765d257457 #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69d8ca7c-de81-4f33-ba63-66765d257457 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69d8ca7c-de81-4f33-ba63-66765d257457 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}