#s-b2cc59f1-a678-434b-ab2d-cc4297dbd202 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b2cc59f1-a678-434b-ab2d-cc4297dbd202 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b2cc59f1-a678-434b-ab2d-cc4297dbd202 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b2cc59f1-a678-434b-ab2d-cc4297dbd202 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b2cc59f1-a678-434b-ab2d-cc4297dbd202 #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b2cc59f1-a678-434b-ab2d-cc4297dbd202 #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b2cc59f1-a678-434b-ab2d-cc4297dbd202 #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b2cc59f1-a678-434b-ab2d-cc4297dbd202 #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b2cc59f1-a678-434b-ab2d-cc4297dbd202 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b2cc59f1-a678-434b-ab2d-cc4297dbd202 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b2cc59f1-a678-434b-ab2d-cc4297dbd202 #s-Top_bar_320 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b2cc59f1-a678-434b-ab2d-cc4297dbd202 #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b2cc59f1-a678-434b-ab2d-cc4297dbd202 #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b2cc59f1-a678-434b-ab2d-cc4297dbd202 #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b2cc59f1-a678-434b-ab2d-cc4297dbd202 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}